*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --bg-black: #000;
   --bg-darkgray: #333;
   --bg-gray: #f7f7f7;
   --bg-bar: #eee;

   --cl-white: #fff;
   --cl-lightgray: #ccc;
   --cl-gray: #999;
   --cl-graydark: #555;

   --dc-orange: #b28756;
}

body  {
   font-family: 'Montserrat', sans-serif;
   font-size: 13px;
   overflow-x: hidden;
}

/* CSS Header */
header   {
   height: 100px;
   background-color: var(--bg-black);
   color: var(--cl-white);
}
/* End CSS Header */

.btn  {
   display: inline-block;
   background-color: var(--dc-orange);
   color: var(--cl-white);
   text-transform: uppercase;
   text-decoration: none;
   font-size: 12px;
   font-weight: 600;
   padding: 10px 30px;
   margin-top: 30px;
   border-radius: 20px;
}

/* Start Navigation Bar */
.header-container {
   display: flex;
   align-items: center;
   margin: auto;
   max-width: 1140px;
   height: 100px;
}

.logo-container   {
   width: 100px;
}

.logo {
   width: 80px;
   height: 80px;
}

.menu-container   {
   display: flex;
   justify-content: flex-end;
   flex: 1;
}

.menu-container ul,
.menu-container li   {
   list-style: none;
}

.menu-container ul   {
   display: flex;
}

.menu-container li a {
   display: flex;
   align-items: center;
   color: var(--cl-white);
   font-weight: 600;
   text-transform: uppercase;
   text-decoration: none;
   padding-left: 10px;
   padding-right: 10px;
   height: 100px;
   border-bottom: 5px solid var(--bg-black);
}

.menu-container li a:hover,
.menu-container .active a {
   border-bottom: 5px solid var(--dc-orange);
   color: var(--cl-lightgray);
}
/* End Navigation Bar */

/* Start Banner */
.banner-container {
   height: calc(100vh - 100px);
   background-color: var(--bg-darkgray);
   background-image: url('../assets/complements/bg.jpg');
   background-size: cover;
   background-position: bottom;
   overflow: hidden;
}

.banner-container .slider-container {
   width: 300vw;
   height: 100%;
}

.banner-container .slide   {
   width: 100vw;
   height: 100%;
   display: inline-block;
   background-color: rgba(0, 0, 0, .8);
}

.banner-container .slide-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--cl-white);
   height: 100%;
}

.banner-container h1 {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 50px;
}

.banner-container h1 span  {
   color: var(--dc-orange);
}

.banner-container h2 {
   text-transform: uppercase;
   margin-top: 20px;
}

.banner-container .sliders-pointers {
   width: 100vw;
   height: 20px;
   position: absolute;
   margin-top: -50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-container .pointer {
   width: 15px;
   height: 15px;
   border: 2px solid var(--dc-orange);
   border-radius: 8px;
   margin-left: 5px;
   margin-right: 5px;
   cursor: pointer;
}

.banner-container .pointer.active   {
   background-color: var(--dc-orange);
}
/* End Banner */

/* Start Section */
.content-container   {
   padding-top: 50px;
   padding-bottom: 50px;
}

.content-container .content-title,
.content-container .content-desc   {
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
}

.content-container .content-title   {
   font-size: 20px;
}

.content-container .content-desc {
   font-size: 12px;
   color: var(--cl-lightgray);
   margin-top: 10px;
   margin-bottom: 40px;
}

.content-container .content-body {
   max-width: 1140px;
   margin: auto;
}

.content-container.light   {
   background-color: var(--bg-gray);
}

.content-container.light .content-title,
.content-container.light .content-body   {
   color: var(--bg-black);
}

.content-container.dark   {
   background-color: var(--bg-black);
}

.content-container.dark .content-title,
.content-container.dark .content-body   {
   color: var(--cl-white);
}
/* End Section */

/* Start About us */
.content-aboutus  {
   display: flex;
}

.content-aboutus--text  {
   flex: 1;
}

.content-aboutus--text p   {
   font-size: 14px;
   line-height: 25px;
}

.content-aboutus--modal {
   width: 520px;
   text-align: center;
}

.content-aboutus--modal img   {
   width: 480px;
   box-shadow: 0px 5px 10px var(--bg-darkgray);
}
/* End About us */

/* Start Services */
.content-services {
   display: flex;
}

.content-service  {
   flex: 1;
   text-align: center;
   border-right: 1px solid var(--bg-darkgray);
   padding: 20px;
}

.content-service img {
   width: 60px;
   height: 60px;
}

.content-service h4  {
   margin-top: 20px;
   text-transform: uppercase;
   font-size: 18px;
}

.content-service p   {
   margin-top: 10px;
   font-size: 13px;
   color: var(--cl-gray);
}

.content-service:first-child  {
   border-left: 1px solid var(--bg-darkgray);
}
/* End Services */

/* Start Projects */
.content-projects {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content-projects--filters {
   border: 1px solid var(--cl-lightgray);
   background-color: var(--bg-bar);
   border-radius: 30px;
   display: inline-block;
   padding: 0 20px;
}

.content-projects--filters ul,
.content-projects--filters li {
   list-style: none;
}

.content-projects--filters li {
   display: inline-block;
   padding: 10px;
   text-transform: uppercase;
   font-size: 13px;
   border-left: 1px solid var(--cl-lightgray);
   color: var(--cl-graydark);
   border-bottom: 3px solid var(--bg-bar);
   cursor: pointer;
}

.content-projects--filters li:hover,
.content-projects--filters li.active {
   border-bottom: 3px solid var(--dc-orange);
}

.content-projects--filters li:first-child {
   border-left: 0;
}

.content-projects--photos  {
   width: 100vw;
   max-width: 1140px;
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.content-projects--photo   {
   width: 280px;
}

.project-photo--area {
   margin: 10px;
   width: 260px;
   height: 160px;
}

.project-photo--area img   {
   width: inherit;
   height: inherit;
}

.project-photo--info {
   position: absolute;
   background-color: rgba(0, 0, 0, .5);
   width: inherit;
   height: inherit;
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--cl-white);
   cursor: pointer;
}

.project-photo--info h5 {
   font-size: 18px;
   font-weight: 600;
}

.project-photo--area:hover .project-photo--info {
   display: flex;
}
/* End Projects */